{% block content %}

<section class="py-6">
  <div class="container">
    <div class="blog-list">
      <!-- blog item-->
      {% for blog in blogs %}
      <div class="blog-item">
        <div class="blog-image">
          <a href="{% url 'blog_detail' blog.slug %}">
            <img src="/media/{{ blog.image }}" alt="{{ blog.title }}">
          </a>
        </div>
        <div class="blog-details">
          <div class="blog-meta">
            <span class="blog-author">{{ blog.user.username }}</span>
            <span class="blog-date">{{ blog.uploaded_on }}</span>
          </div>
          <h3 class="blog-title"><a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a></h3>
          <p class="blog-description">{{ blog.description }}</p>
          <a href="{% url 'blog_detail' blog.slug %}" class="btn btn-primary">Read more</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>

  body{
    background-color: lightblue;
  }
  .py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }

  .blog-item {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .blog-item:hover {
    background-color: #fff;
  }

  .blog-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }

  .blog-details {
    margin-top: 20px;
  }

  .blog-meta {
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
  }

  .blog-author {
    margin-right: 10px;
  }

  .blog-date {
    margin-left: 10px;
  }

  .blog-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blog-description {
    margin-bottom: 10px;
  }

  .btn-primary {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
  }

  .btn-primary:hover {
    background-color: #45a049;
  }
</style>

{% endblock content %}
