{% extends 'header.html' %}

{% block body %}
<style>

	body{
		background-color: lightblue;
	}
  .contact-form {

    max-width: 400px;
    margin: 5rem auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .contact-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  .contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  .contact-form textarea {
    height: 150px;
  }

  .contact-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
  }

  .contact-form button:hover {
    background-color: #45a049;
  }
</style>

<div class="contact-form">
  <h1>Contact Us</h1>
  <form method="post">
    {% csrf_token %}
    <label for="id_name">Name</label>
    {{ form.name }}
    <label for="id_email">Email</label>
    {{ form.email }}
    <label for="id_subject">Subject</label>
    {{ form.subject }}
    <label for="id_message">Message</label>
    {{ form.message }}
    <button type="submit">Send</button>
  </form>
</div>
{% endblock body %}
